<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de vendas</title>
    <link rel="icon" type="image/x-icon" href="static\icon.png">
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    <h1>Histórico de Funcionários</h1>
    <nav>
        <a href="/">Página Inicial</a>
        <a href="/historico">Histórico de vendas</a>
    </nav>
    </header>
    <div class="container">
    <table>
        <tr>
            <th>Nome</th>
            <th>Vendas</th>
            <th>Meta</th>
        </tr>
        {% for nome, vendas, meta in dados %}
        <tr>
            <td>{{ nome }}</td>
            <td>{{ vendas }}</td>
            <td>{{ meta }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/" class="botao-secundario">Voltar</a>
    </div>
</body>
</html>